<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Buttons for Bulma!</title>
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0/css/bulma.min.css">
  <!-- Font Awesome 5 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
  <!-- Bulma-Social -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
</head>

<div class="sign-in">
  <!-- <%= link_to '<span>Sign in with Duke</span><span><img src="/app/assets/images/duke_wordmark_white.png" style="width:30px;height:12px;"></span>'.html_safe, user_duke_omniauth_authorize_path, class: "button is-dark" %> -->
  <a href="/users/auth/duke" class="button is-dark sign-in-duke sign-in-duke-button">
    <div style="padding: 5px;">
      <span> Sign in with </span>
      <span style="margin-left: 5px; top: 3px; position: relative;">
        <%= image_tag "duke_wordmark_white.png", style: "height:22px"%>
      </span>
    </div>
  </a>
</div>
<div>
  <span class="sign-in"><%= link_to '<span class="icon"><i class="fab fa-google"></i></span><span>Sign in with Google</span>'.html_safe, user_google_oauth2_omniauth_authorize_path, id: "hi", class: "button is-google sign-in-external-button" %></span>
  <span class="sign-in"><%= link_to '<span class="icon"><i class="fab fa-facebook"></i></span><span>Sign in with Facebook</span>'.html_safe, user_facebook_omniauth_authorize_path, class: "button is-facebook sign-in-external-button" %></span>
</div>

